*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.parent{
  width: 100%;
  height: 100dvh;
  background-color: rgb(7, 7, 43);
}
.container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  position: relative;
}
.container .content {
   width: 80%;
   background-color: white;
   height: 60%;
   font-size: 20px;
   padding: 30px;
   font-weight: 400;
}
.btns{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    padding: 25px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    border: none;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
}
.btns :first-child{
 background-color: green;
}
.btns :nth-child(2){
 background-color:orangered ;
}
.btns :nth-child(3){
 background-color:rgb(122, 7, 7);
}
.btns :nth-child(4){
    background-color: blueviolet;
}
input{
    outline: none;
    border: none;
    width: 20rem;
    height: 2rem;
    padding: .5rem;
    font-size: 2rem;
    display: none;
}
@media ( max-width : 300px ) {
   .btns{
    flex-direction: column;
    height:120dvh;
   }
   button{
    margin: 10px 0;
   }
}